* {
    box-sizing: border-box;
}
html {
    background-color: #333333;
    color: whitesmoke;
    font-family: 'VT323', monospace;
    font-size: 16px;
}

#container {
    padding-top: 20px;
    display:flex;
    flex-direction: row;
}

.title {
    display: flex;
    align-items: center;
    height: 10%;
    color:limegreen;
    text-align: center;
    position: fixed;
    height: 100%;
    width: 300px;

}

.title h1 {
    font-size: 5em;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

#playfield {
    width: 100%;
    height: 90%;
    text-align: center;
}
canvas {
    display: inline;
    background: center / contain url("img/maze_template.png") no-repeat ;
}


